*:focus {
	outline: 0px;
}

#react-root {
	--react-root-width: 0px; /* reactRoot.offsetWidth - 1 */
	--react-root-height: 0px; /* reactRoot.offsetHeight - 1 */

	--overview-grid-columns: 8;
	--overview-grid-rows: 4;

	--overview-grid-gap: 2px;

	--overview-grid-media-width: calc(var(--react-root-width) / var(--overview-grid-columns));
	--overview-grid-media-height: calc(var(--react-root-height) / var(--overview-grid-rows));

	--overview-highlighted-scale: 1.3;
}


#img-element, #video-element {
	position: absolute;
	max-width: var(--react-root-width);
	max-height: var(--react-root-height);
	object-fit: contain;
}

#overview-grid {
	display: grid;
	width: 100%;
	height: 100%;
/*	max-width: var(--react-root-width);
	max-height: var(--react-root-height);*/
	gap: var(--overview-grid-gap);
	grid-template-columns: repeat(var(--overview-grid-columns), 1fr);
	grid-template-rows: repeat(var(--overview-grid-rows), 1fr);
	position: relative;
	padding: 8px;
	background-color: #eaeaea;
}

.overview-grid-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ccc;
	outline: 2px solid #fff;
}

.overview-grid-container.overview-highlighted {
	overflow: visible;
}

.overview-grid-container .overview-grid-media {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	transition: none;
}

.overview-grid-container.overview-highlighted .overview-grid-media {
/*	transform: scale(var(--overview-highlighted-scale));*/
	image-rendering: pixelated;
	z-index: 1;
	object-fit: contain;
}

.overview-video-play-icon {
	width: 20%;
	fill: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.6);
}

.overview-media-counter {
	position: absolute;
	width: 25%;
	height: auto;
	bottom: 4%;
	right: -4%;
	color: white;
}