*:focus {
	outline: 0px;
}

#react-root {
	--overview-grid-image-width: 100%;
	--overview-grid-image-height: 100%;
}

.overview-grid-image {
	display: block;
	width: 100%;
	max-width: var(--overview-grid-image-width);
	height: 100%;
	max-height: var(--overview-grid-image-height);
	object-fit: cover;
	margin: 0;
}

.overview-highlighted {
	transform: scale(1.2);
	z-index: 1;
	border: 2px solid black;
}
